<%= link_to show_plant_url(plant) do %>
<div class="plant-thumbnail">
		<% if plant.images.exists? %>
		<div class="thumbnail-image" style="background-image: url(<%= url_for(plant.images.featured.with_attached_file.first.file) %>"></div>
		<% else %>
		<div class="thumbnail-image" style="background-color: green;"></div>
		<% end %>
	<div class="thumbnail-name">
		<div class="plant-name"><%=plant.scientific_name%></div>
		<div class="common-name"><%=plant.common_name%></div>
	</div>
	<div class="thumbnail-description">
		Width: <%= plant.display_width %><br>
		Height: <%= plant.display_height %>
	</div>
</div>
<% end %>