
<div class="row">
	<div class="small-10 small-centered columns">
		<%#= link_to show_plant_url(@plant) do %>
			<h1 class="plant-name"><%=@plant.scientific_name%>
			<span id="common-name"><%=@plant.common_name%></span></h1>
		<%# end %>
	</div><!--/.small-10 small-centered-->
</div><!--/.row-->

<%= form_for @plant, url: edit_plant_url do |f| %>
<div class="row">
<div class="small-10 small-centered columns">
	<div class="row">
		<div class="large-4 columns">
			<label>
				<i><%= label_tag(:plant_genus, "Genus") %></i>
				<%= f.text_field :genus, placeholder: 'Genus', required: "required", label: false %>
			</label>
		</div><!--/.large-4-->
		<div class="large-4 columns">
			<i><%= label_tag(:plant_species, "species") %></i>
			<%= f.text_field :species, placeholder: 'species', required: "required", label: false %>
		</div><!--/.large-4-->
		<div class="large-4 columns">
			<%= label_tag(:plant_common_name, "Common Name") %>
			<%= f.text_field :common_name, placeholder: 'Common Name', required: "required", label: false %>
		</div><!--/.large-4-->
	</div><!--/.row-->
	<div class="row">
		<div class="large-6 columns">
			<%= label_tag(:plant_synonyms, "Synonyms") %>
			<%= f.text_area :synonyms, rows: 4, placeholder: "Synonyms", label: false %>
		</div><!--/.small-12-->
		<div class="large-6 columns">
			<%= label_tag(:plant_additional_common_names, "Additional Common Names") %>
			<%= f.text_area :additional_common_names, rows: 4, placeholder: "Additional Common Names", label: false %>
		</div><!--/.small-12-->
	</div><!--/.row-->
	<div class="row">
		<div class="large-6 columns">
		<%= label_tag(:plant_height_min, "Height (Min)") %>
		<%= f.number_field :height_min, placeholder: 'Height (Min)', label: false %>
		<%= label_tag(:plant_height_max, "Height (Max)") %>
		<%= f.number_field :height_max, placeholder: 'Height (Max)', label: false %>
		</div><!--/.large-6-->
		<div class="large-6 columns">
		<%= label_tag(:plant_width_min, "Width (Minimum)") %>
		<%= f.number_field :width_min, placeholder: 'Width (Min)', label: false %>
		<%= label_tag(:plant_width_max, "Width (Maximum)") %>
		<%= f.number_field :width_max, placeholder: 'Width (Max)', label: false %>
		</div><!--/.large-6-->
	</div><!--/.row-->
	<div class="row">
		<div class="small-12 columns">
			<%= label_tag(:plant_description, "Description") %>
			<%= f.text_area :description, rows: 4, placeholder: "Description", label: false %>
		</div><!--/.small-12-->
	</div><!--/.row-->
	<div class="row">
		<div class="small-12 columns">
			<%= label_tag(:plant_notes, "Notes") %>
			<%= f.text_area :notes, rows: 4, placeholder: "Notes", label: false %>
		</div><!--/.small-12-->
	</div><!--/.row-->
	<div class="row">
		<div class="large-4 columns">
			<h2>Plant Type</h2>	
			<%= f.check_box :tree, label: false %>
			<%= label_tag(:plant_tree, "Tree") %>
			<%= f.check_box :shrub, label: false %>
			<%= label_tag(:plant_shrub, "Shrub") %>
		</div><!--/.large-4-->
		<div class="large-4 columns">
			<h2>Miscellaneous</h2>
			<%= f.check_box :ca_native, label: false %>
			<%= label_tag(:plant_ca_native, "Is a California Native") %>
			<%= f.check_box :fruits, label: false %>
			<%= label_tag(:plant_fruits, "Has Fruits") %>

			<%= f.check_box :problematic, label: false %>
			<%= label_tag(:plant_problematic, "May Be Problematic") %>
		</div><!--/.large-4-->		
		<div class="large-4 columns">
			<h2>Growth Rate</h2>
			<% @growth_rates.each do |growth_rate| %>
			  <%= check_box_tag "plant[growth_rate_ids][]", growth_rate.id, @plant.growth_rate_ids.include?(growth_rate.id), id: "plant_growth_rate_ids_#{growth_rate.id}" %>
			  <%= label_tag("plant_growth_rate_ids_#{growth_rate.id}", growth_rate.growth_rate ) %>
			<% end %>
		</div><!--/.large-4-->
	</div><!--/.row-->

	<div class="row">
		<div class="large-4 columns">
			<h2>Leafing Type</h2>
			<% @leafing_types.each do |leafing_type| %>
			  <%= check_box_tag "plant[leafing_type_ids][]", leafing_type.id, @plant.leafing_type_ids.include?(leafing_type.id), id: "plant_leafing_type_ids_#{leafing_type.id}" %>
			  <%= label_tag("plant_leafing_type_ids_#{leafing_type.id}", leafing_type.leafing_type ) %>
			<% end %>
		</div><!--/.large-4-->
		<div class="large-4 columns">
			<h2>Color - Leaf (Growth)</h2>
			<% @colors_leaf_growth.each do |color| %>
			  <%= check_box_tag "plant[color_ids][]", color.id, @plant.color_ids.include?(color.id), id: "plant_color_ids_#{color.id}" %>
			  <%= label_tag("plant_color_ids_#{color.id}", color.color ) %>
			<% end %>
		</div><!--/.large-4-->
		<div class="large-4 columns">
			<h2>Color - Leaf (Autumn)</h2>
			<% @colors_leaf_autumn.each do |color| %>
			  <%= check_box_tag "plant[color_ids][]", color.id, @plant.color_ids.include?(color.id), id: "plant_color_ids_#{color.id}" %>
			  <%= label_tag("plant_color_ids_#{color.id}", color.color ) %>
			<% end %>
		</div><!--/.large-4-->
	</div><!--/.row-->

	<div class="row">
		<div class="large-4 columns">
			<h2>Color - Bark</h2>
			<% @colors_bark.each do |color| %>
			  <%= check_box_tag "plant[color_ids][]", color.id, @plant.color_ids.include?(color.id), id: "plant_color_ids_#{color.id}" %>
			  <%= label_tag("plant_color_ids_#{color.id}", color.color ) %>
			<% end %>
		</div><!--/.large-4-->
		<div class="large-4 columns">
			<h2>Color - Flower</h2>
			<% @colors_flower.each do |color| %>
			  <%= check_box_tag "plant[color_ids][]", color.id, @plant.color_ids.include?(color.id), id: "plant_color_ids_#{color.id}" %>
			  <%= label_tag("plant_color_ids_#{color.id}", color.color ) %>
			<% end %>
		</div><!--/.large-4-->
		<div class="large-4 columns">
			<h2>Color - Fruit</h2>
			<% @colors_fruit.each do |color| %>
			  <%= check_box_tag "plant[color_ids][]", color.id, @plant.color_ids.include?(color.id), id: "plant_color_ids_#{color.id}" %>
			  <%= label_tag("plant_color_ids_#{color.id}", color.color ) %>
			<% end %>
		</div><!--/.large-4-->
	</div><!--/.row-->

	<div class="row">
		<div class="large-4 columns">
			<h2>Textures</h2>
			<% @textures.each do |texture| %>
			  <%= check_box_tag "plant[texture_ids][]", texture.id, @plant.texture_ids.include?(texture.id), id: "plant_texture_ids_#{texture.id}" %>
			  <%= label_tag("plant_texture_ids_#{texture.id}", texture.texture ) %>
			<% end %>
		</div><!--/.large-4-->
		<div class="large-4 columns">
			<h2>Exposures</h2>
			<% @exposures.each do |exposure| %>
			  <%= check_box_tag "plant[exposure_ids][]", exposure.id, @plant.exposure_ids.include?(exposure.id), id: "plant_exposure_ids_#{exposure.id}" %>
			  <%= label_tag("plant_exposure_ids_#{exposure.id}", exposure.exposure ) %>
			<% end %>
		</div><!--/.large-4-->
		<div class="large-4 columns">
			<h2>pH</h2>
			<% @phs.each do |ph| %>
			  <%= check_box_tag "plant[ph_ids][]", ph.id, @plant.ph_ids.include?(ph.id), id: "plant_ph_ids_#{ph.id}" %>
			  <%= label_tag("plant_ph_ids_#{ph.id}", ph.ph ) %>
			<% end %>
		</div><!--/.large-4-->
	</div><!--/.row-->

	<div class="row">
		<div class="large-4 columns">
			<h2>Sunset Zone</h2>
			<% @sunset_zones.each do |sunset_zone| %>
			  <%= check_box_tag "plant[sunset_zone_ids][]", sunset_zone.id, @plant.sunset_zone_ids.include?(sunset_zone.id), id: "plant_sunset_zone_ids_#{sunset_zone.id}" %>
			  <%= label_tag("plant_sunset_zone_ids_#{sunset_zone.id}", sunset_zone.sunset_zone ) %>
			<% end %>
		</div><!--/.large-4-->
		<div class="large-4 columns">
			<h2>Soil Texture</h2>
			<% @soil_textures.each do |soil_texture| %>
			  <%= check_box_tag "plant[soil_texture_ids][]", soil_texture.id, @plant.soil_texture_ids.include?(soil_texture.id), id: "plant_soil_texture_ids_#{soil_texture.id}" %>
			  <%= label_tag("plant_soil_texture_ids_#{soil_texture.id}", soil_texture.soil_texture ) %>
			<% end %>
		</div><!--/.large-4-->
		<div class="large-4 columns">
			<h2>Salinity Tolerance</h2>
			<% @salinity_tolerances.each do |salinity_tolerance| %>
			  <%= check_box_tag "plant[salinity_tolerance_ids][]", salinity_tolerance.id, @plant.salinity_tolerance_ids.include?(salinity_tolerance.id), id: "plant_salinity_tolerance_ids_#{salinity_tolerance.id}" %>
			  <%= label_tag("plant_salinity_tolerance_ids_#{salinity_tolerance.id}", salinity_tolerance.salinity_tolerance ) %>
			<% end %>
		</div><!--/.large-4-->
	</div><!--/.row-->

	<div class="row">
		<div class="large-4 columns">
			<h2>Seaside Tolerance</h2>
			<% @seaside_tolerances.each do |seaside_tolerance| %>
			  <%= check_box_tag "plant[seaside_tolerance_ids][]", seaside_tolerance.id, @plant.seaside_tolerance_ids.include?(seaside_tolerance.id), id: "plant_seaside_tolerance_ids_#{seaside_tolerance.id}" %>
			  <%= label_tag("plant_seaside_tolerance_ids_#{seaside_tolerance.id}", seaside_tolerance.seaside_tolerance ) %>
			<% end %>
		</div><!--/.large-4-->
		<div class="large-4 columns">
			<h2>Root Damage Potential</h2>
			<% @root_damage_potentials.each do |root_damage_potential| %>
			  <%= check_box_tag "plant[root_damage_potential_ids][]", root_damage_potential.id, @plant.root_damage_potential_ids.include?(root_damage_potential.id), id: "plant_root_damage_potential_ids_#{root_damage_potential.id}" %>
			  <%= label_tag("plant_root_damage_potential_ids_#{root_damage_potential.id}", root_damage_potential.root_damage_potential ) %>
			<% end %>
		</div><!--/.large-4-->
		<div class="large-4 columns">
			<h2>Soil Moisture</h2>
			<% @soil_moistures.each do |soil_moisture| %>
			  <%= check_box_tag "plant[soil_moisture_ids][]", soil_moisture.id, @plant.soil_moisture_ids.include?(soil_moisture.id), id: "plant_soil_moisture_ids_#{soil_moisture.id}" %>
			  <%= label_tag("plant_soil_moisture_ids_#{soil_moisture.id}", soil_moisture.soil_moisture ) %>
			<% end %>
		</div><!--/.large-4-->
	</div><!--/.row-->

	<div class="row">
		<div class="large-4 columns">
			<h2>Landscape Application</h2>
			<% @landscape_applications.each do |landscape_application| %>
			  <%= check_box_tag "plant[landscape_application_ids][]", landscape_application.id, @plant.landscape_application_ids.include?(landscape_application.id), id: "plant_landscape_application_ids_#{landscape_application.id}" %>
			  <%= label_tag("plant_landscape_application_ids_#{landscape_application.id}", landscape_application.landscape_application ) %>
			<% end %>
		</div><!--/.large-4-->
		<div class="large-4 columns">
			<h2>Landscape Use</h2>
			<% @landscape_uses.each do |landscape_use| %>
			  <%= check_box_tag "plant[landscape_use_ids][]", landscape_use.id, @plant.landscape_use_ids.include?(landscape_use.id), id: "plant_landscape_use_ids_#{landscape_use.id}" %>
			  <%= label_tag("plant_landscape_use_ids_#{landscape_use.id}", landscape_use.landscape_use ) %>
			<% end %>
		</div><!--/.large-4-->
		<div class="large-4 columns">
			<h2>Shape</h2>
			<% @shapes.each do |shape| %>
			  <%= check_box_tag "plant[shape_ids][]", shape.id, @plant.shape_ids.include?(shape.id), id: "plant_shape_ids_#{shape.id}" %>
			  <%= label_tag("plant_shape_ids_#{shape.id}", shape.shape ) %>
			<% end %>
		</div><!--/.large-4-->
	</div><!--/.row-->

	<div class="row">
		<div class="large-4 columns">
			<h2>Habit</h2>
			<% @habits.each do |habit| %>
			  <%= check_box_tag "plant[habit_ids][]", habit.id, @plant.habit_ids.include?(habit.id), id: "plant_habit_ids_#{habit.id}" %>
			  <%= label_tag("plant_habit_ids_#{habit.id}", habit.habit ) %>
			<% end %>
		</div><!--/.large-4-->
		<div class="large-4 columns">
			<h2>Branch Strength</h2>
			<% @branch_strengths.each do |branch_strength| %>
			  <%= check_box_tag "plant[branch_strength_ids][]", branch_strength.id, @plant.branch_strength_ids.include?(branch_strength.id), id: "plant_branch_strength_ids_#{branch_strength.id}" %>
			  <%= label_tag("plant_branch_strength_ids_#{branch_strength.id}", branch_strength.branch_strength ) %>
			<% end %>
		</div><!--/.large-4-->
		<div class="large-4 columns">
			<h2>Litter Type</h2>
			<% @litter_types.each do |litter_type| %>
			  <%= check_box_tag "plant[litter_type_ids][]", litter_type.id, @plant.litter_type_ids.include?(litter_type.id), id: "plant_litter_type_ids_#{litter_type.id}" %>
			  <%= label_tag("plant_litter_type_ids_#{litter_type.id}", litter_type.litter_type ) %>
			<% end %>
		</div><!--/.large-4-->
	</div><!--/.row-->

	<div class="row">
		<div class="small-12 columns">
			<h2>Adjectives</h2>
			<% @adjectives.each do |adjective| %>
			  <%= check_box_tag "plant[adjective_ids][]", adjective.id, @plant.adjective_ids.include?(adjective.id), id: "plant_adjective_ids_#{adjective.id}" %>
			  <%= label_tag("plant_adjective_ids_#{adjective.id}", adjective.adjective ) %>
			<% end %>
		</div><!--/.small-12-->
	</div><!--/.row-->


	<div class="row">
		<div class="small-12 columns">
			<br>
			<%= f.submit %>
		</div><!--/.small-12-->
	</div><!--/.row-->
<% end %>

	<div class="row">
		<div class="small-12 columns">
			<h2>Images</h2>
		</div><!--/.small-12-->
	</div><!--/.row-->

	
	<div class="row">
		<div class="small-12 columns">
			<div class="preview-gallery">
				<div class="images">
					<div class="item">
					<% if @plant.images.featured.exists? %>
						<%= link_to destroy_image_url(@plant.images.featured.with_attached_file.first.file.id), :method => 'delete' do %><%= image_tag url_for(@plant.images.featured.with_attached_file.first.file) %><% end %>
					<% else %>
						<h4>Featured Image</h4>
						<%= form_for @plant, url: upload_plant_image_url, :html => {id: 'featured-image-upload'} do |f| %>
							<%= f.label :images_featured do %>
							<%= image_tag '/images/image_add.svg' %><br>
							<small>Upload a Featured Photo</small>
							<%= f.file_field :images_featured, class: 'hide-upload', label: false, accept: 'image/png,image/gif,image/jpeg' %>
							<% end %>
						<% end %>
					<% end %>
					</div>
					<% if @plant.images.other.exists? %>
						<% @plant.images.other.with_attached_file.each do |image| %>
							<div class="item"><%= link_to destroy_image_url(image.id), :method => 'delete' do %><%= image_tag url_for(image.file) %><% end %></div>
						<% end %>
					<% end %>
					<div class="item">
						<%= form_for @plant, url: upload_plant_image_url, :html => {id: 'other-image-upload'} do |f| %>
							<%= f.label :images_other do %>
								<h4>Additional Images</h4>
								<%= image_tag '/images/image_add.svg' %><br>
											<small>Upload Additional Photo</small>
								<%= f.file_field :images_other, class: 'hide-upload', label: false, accept: 'image/png,image/gif,image/jpeg' %>
							<% end %>
						<% end %>
					</div>
				</div>
			</div>
			<br><br>
		</div><!--/.small-12-->
	</div><!--/.row-->
</div><!--/.small-12-->
</div><!--/.row-->

